In [1]:
import json

In [27]:
import gspread
import datetime
import requests
import pandas as pd
import numpy as np

CODE = '1LyxXkYYPWU_UkuydQhpPWlc-DAM2oMYXKrX4AryEkH8'

gc = gspread.service_account(filename = '../key.json')
sh = gc.open_by_key(CODE)

ws = sh.worksheet('Selic') #Lista dos WS

In [22]:
init_date = '01/12/2019'
final_date = datetime.datetime.now().strftime("%d/%m/%Y")

response = requests.get(f"https://api.bcb.gov.br/dados/serie/bcdata.sgs.11/dados?formato=json&dataInicial={init_date}&dataFinal={final_date}")
print(response)

selic_df = pd.DataFrame(response.json())

# selic_df['Date'] = pd.to_datetime(pd.DataFrame(response.json())['data'], infer_datetime_format = True)

# selic_df = selic_df.set_index('Date').drop(columns = ['data'])
selic_df = selic_df.rename(columns = {'valor': 'SelicValue'})
selic_df['SelicValue'] = pd.to_numeric(selic_df['SelicValue'], errors = 'raise')

<Response [200]>

In [27]:
selic_df.head()

         data  SelicValue
0  29/11/2019    0.018985
1  02/12/2019    0.018985
2  03/12/2019    0.018985
3  04/12/2019    0.018985
4  05/12/2019    0.018985

In [29]:
update = ws.update([selic_df.columns.values.tolist()] + selic_df.values.tolist())

{'spreadsheetId': '1LyxXkYYPWU_UkuydQhpPWlc-DAM2oMYXKrX4AryEkH8',
 'updatedRange': 'Selic!A1:B544',
 'updatedRows': 544,
 'updatedColumns': 2,
 'updatedCells': 1088}